section
	h4 let
	p Let permite que sejam criadas declarações limitadas a um bloco, que é chamado de escopo de bloco.
	pre
		code
			| var valor = 1;
			| {
			| 	let valor = 2;
			|   console.log(valor); // 2
			| }
			| console.log(valor); // 1

	h4 const
	p Utilizado para declarar constantes
	pre
		code
			| const PI = 3.1415;