section
	h4 Template literals
	p Introduz uma nova maneira de se concatenar valores armazenados em variáveis e strings.
	pre
		code
			| var nome = "Diego";
			| console.log("Hello " + nome + "!");
	pre.fragment
		code
			| var nome = "Diego";
			| console.log(`Hello ${nome}!`);