section
	h4 Literais octais e binários
	p Com o ecmascript 6 é possível declarar valores em binário e octal.
	pre
		code
			| let oVal = 0o10;
			| console.log(oVal); //8
			| 
			| let bVal = 0b11;
			| console.log(bVal); //3