section
	h4 Utilizando com o gulp
	pre
		code
			| /
			|   /controllers
			|     - MainController.js
			|     - OutroController.js
			|   /services
			|     - MeuService.js
			|   /diretivas
			|     - MinhaDiretiva.js
			|   - app.js
	pre.fragment
		code
			| import MainController from './controllers/MainController';
			| import OutroController from './controllers/OutroController';
			| import MeuService from './services/MeuService';
			| import MinhaDiretiva from './diretivas/MinhaDiretiva';