section
	h4 Classes
	pre
		code
			| class Pessoa {
			| 	constructor(nome, idade) {
			| 		this.nome = nome;
			| 		this.idade = idade;
			| 	}
			| 	hello() {
			| 		console.log(`Olá! Eu sou ${this.nome}!`);
			| 	}
			| }