section
	h4 Herança
	pre
		code
			| class Homem extends Pessoa {
			| 	constructor() {
			| 		super();
			| 		this.sexo = 'Masculino';
			| 	}
			| 	horaDoShow() {
			| 		console.log('BIIIRRLLL');
			| 	}
			| }