head
    meta(charset="UTF-8")
    title Ecmascript 6
    meta(name="description" content="A presentation about ecmascript 6, it's features and integration with gulp.")
    meta(name="author" content="You")
    meta(property="og:type" content="website")
    meta(property="og:description" content="A presentation about ecmascript 6, it's features and integration with gulp.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")
